<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="../css/index.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="../css/home.css" media="screen" />
  <title>Rolex</title>
</head>

<body>
  <div class="container">
    <nav>
      <ul class="nav__links nav__left">
        <li><a href="./home.html">Home</a></li>
        <li><a href="#">Produtos</a></li>
        <li><a href="#">Modelos</a></li>
      </ul>
    </nav>

    <div class="letter-container">
      <img src="../assets/header.png" alt="Header" />
    </div>

    <div class="text-container">
      <h4 class="text__left">ROU</h4>
      <h4 class="text__right">LEX</h4>
    </div>

    <div class="button-container">
      <button class="btn explore"><a href="./endereco.html" style="color: hsl(169deg 100% 18%);">Cadastrar Endereço</a></button>
      <button class="btn print">ROULEX</button>
      <button class="btn catalog">ROULEX</button>
    </div>

    <div class="features">
      <h5 class="feature-1">Sofisticado</h5>
      <h5 class="feature-2">Tecnológico</h5>
      <h5 class="feature-3">Inovador</h5>
      <h5 class="feature-4">Moderno</h5>
    </div>

    <footer class="footer">
      <ul class="footer__links">
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Instagram</a></li>
        <li><a href="#">TikTok</a></li>
      </ul>
    </footer>
  </div>
</body>

</html>