<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="../script/login.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/index.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="../css/login.css" media="screen" />
</head>

<body>
    <div class="container">
        <nav>
            <ul class="nav__links nav__left">
                <li><a href="./home.html">Home</a></li>
                <li><a href="#">Produtos</a></li>
                <li><a href="#">Modelos</a></li>
            </ul>
            <ul class="nav__links nav__right">
                <li><a href="./login.html">Login</a></li>
                <li><a href="./cadastro.html">Cadastro</a></li>
            </ul>
        </nav>
        
        <div class="letter-container"></div>
        <div class="button-container">
            <button class="btn print">ROULEX</button>
            <button class="btn catalog">ROULEX</button>
        </div>
        
        <section class="form" style="margin-top: 4rem;">
            <h1>Faça se<span>u Login</span></h1>
            <p>Caso não tenha uma conta, clique em <span>Cadastro e preencha os dados pedidos</span></p>
            <div>
                <form id="form" onsubmit="event.preventDefault(); loginUsuario();">
                    <input type="email" id="email" name="email" placeholder="Digite seu Email:" class="campo-email" required autocomplete="off">
                    
                    <div class="input-group">
                        <div class="password-container">
                            <input type="password" id="password" name="password" placeholder="Digite sua senha:" required>
                            <span class="toggle-password" onclick="mostrarSenha()">👁️</span>
                        </div>
                    </div>
                    
                    <br>
                    <input type="checkbox" id="terms" name="terms" required />
                    <label for="terms" class="termos">Termos e Condições de Uso</label>
                    <br>
                    <br>
                    <div class="flex-input">
                        <input type="submit" value="Logar" />
                    </div>
                </form>
            </div>

            <footer class="footer">
                <ul class="footer__links">
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">TikTok</a></li>
                </ul>
            </footer>
        </section>
    </div>
</body>

</html>
